<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySync AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

        <h2>🐍 Dimpu | StudySync AI</h2>

        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/planner">Study Planner</a>
        <a href="/assignments">Assignments</a>
        <a href="/attendance">Attendance</a>
        <a href="/timetable">Timetable</a>
        <a href="/recommendation">Recommendations</a>
        <a href="/profile">Profile</a>

    </nav>

    <hr>

    {% block content %}

    {% endblock %}

</body>

</html>