{% extends "base.html" %}

{% block content %}

<section class="auth-container">

    <div class="auth-card">

        <h1>Welcome Back 👋</h1>

        <p>Dimpu missed judging your study habits.</p>

        <form method="POST">

            {{ form.hidden_tag() }}

            {{ form.email(class="form-input") }}

            {{ form.password(class="form-input") }}

            {{ form.submit(class="btn") }}

        </form>

        <p class="auth-link">
            Don't have an account?
            <a href="/register">Create one</a>
        </p>

    </div>

</section>

{% endblock %}