{% extends "base.html" %}

{% block content %}

<section class="auth-container">

    <div class="auth-card">

        <h1>Create Account ✨</h1>

        <p>Join Dimpu's study squad.</p>

        <form method="POST">

            {{ form.hidden_tag() }}

            {{ form.name(class="form-input") }}

            {{ form.email(class="form-input") }}

            {{ form.password(class="form-input") }}

            {{ form.submit(class="btn") }}

        </form>

        <p class="auth-link">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</section>

{% endblock %}